/* media Quarry for navbar*/
@media screen and (max-width: 576px) {


    .nav-container {
        padding-left: 2rem;
    }

    .nav-elements {
        display: none;
    }

    .ham-bug {
        display: block;

        /* color: rgb(255, 255, 255); */
    }

    .nav-container {
        padding-right: 2rem;
    }

}

/* media Querry for banner */
@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column;
        padding-left: 2rem;
    }

    .content-container {
        width: 100%;
    }

    .banner-btn1 {
        width: 100%;
    }

    .banner-btn2 {
        width: 100%;
    }

    .banner-card-container {
        width: 100%;
        padding-left: 5rem;
        padding-top: 3rem;
    }

    .banner-card1 {
        top: 15%;
        left: 70%;
    }

    .banner-card2 {
        top: 50%;
        left: 10%;
    }
    .banner-card2-btn{
        position: relative;
    }
    .banner-play-icon {
        position: absolute;
        display: block;
        left: 8px;
    }

}

/* change your habits section media querry */
@media screen and (max-width: 576px) {
    .change-habits-container {
        padding: 0px 20px;
    }

    .change-habits-heading {
        width: 243px;
        height: 38px;
        font-size: 1.5rem;
        padding-left: 98px;
        

    }

    .change-habits-description {
        width: 316px;
        height: 72px;
        padding-left: 69px;
        padding-top: 34px;
    }

    .habits-div-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .caption-title {
        text-align: center;
        padding-left: 20px;
        padding-bottom: 5px;
    }

    .caption-description {

        width: 318px;
        text-align: center;
        padding-left: 65px;
    }

    .caption-img {
        padding-left: 150px;
        padding-right: 150px;
        /* border-radius: 50%; */
    }
}

/* media quarry for run extra */

@media screen and (max-width: 576px) {
    .extra-container {
        flex-direction: column;
        width: 350px;
        height: 531px;
        padding: 30px 7px;

    }

    .run-extra-container {
        padding: 50px 30px;
        text-align: left;
    }

    .run-extra-content-container {
        padding-left: 35px;
    }

    .run-extra-heading {
        font-size: 2rem;
        width: 267px;
        height: 76px;
    }

    .run-extra-description {
        font-size: 1rem;
        width: 267px;
    }

    .run-extra-img {
        width: 80%;
        padding-left: 35px;
        padding-top: 10px;
        border-radius: 20px;
    }

}

/* media querry meet our team section */
@media screen and (max-width: 576px) {
    .meet-team-container {
        padding: 0px;
        padding-left: 50px;
        height: 2450px;

    }

    .meet-team-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        height: 2000px;
    }

    .meet-team-heading {
        width: 243px;
        height: 38px;
        font-size: 2rem;
        padding-left: 50px;
        padding-top: 66px;
    }

    .meet-team-description {
        width: 309px;
        height: 72px;
        font-size: 1rem;
    }


}

/* media Querry for BMI section */
@media screen and (max-width: 576px) {
    .bmi-cal-head {
        padding-left: 10%;
    }

    .bmi-cal-description {
        padding-left: 10%;
        width: 353px;
    }

    .bmi-cal {
        flex-direction: column;
        padding: 34px 30px;
        gap: 42px;
        align-items: center;
    }

    .des-bmi {
        width: 346px;

    }

    .field1 {
        width: 130.5px;
    }

    .field2 {
        width: 160.5px;
    }

    .field3 {
        width: 320px;
    }

}

/* media  Querry for Unique section */
@media screen and (max-width: 576px) {
    .supplement-display {
        flex-direction: column;

    }

    .supplement-heading {
        padding-left: 50px;
        font-size: 1.5rem;
    }

    .supplement-head-description {
        padding-left: 60px;
        font-size: 0.75rem;
        width: 300px;
        padding-bottom: 100px;
    }

    .supplement-description {
        font-size: 0.75rem;
        width: 150px;

    }

    .supplement-img2 {
        width: 50%;
        height: 30%;

    }

    .see-more-btn {
        width: 124px;
        height: 24px;
        font-size: 0.75rem;
        margin-bottom: 34px;
    }
}



/* footer section */
@media screen and (max-width: 576px) {
    .footer-contents {
        flex-direction: column;
        padding-left: 20px;
    }

    .hr-line {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-description {
        font-size: 1rem;
        width: 317px;
        padding-bottom: 30px;
    }
}