/* media Quarry for navbar*/
@media screen and (max-width: 576px) {


    .nav-container {
        padding-left: 2rem;
    }

    .nav-elements {
        display: none;
    }

    .ham-bug {
        display: block;

        /* color: rgb(255, 255, 255); */
    }

    .nav-container {
        padding-right: 2rem;
    }

}

/* media Querry for banner */
@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column;
        padding-left: 2rem;
    }

    .content-container {
        width: 100%;
    }

    .banner-btn1 {
        width: 100%;
    }

    .banner-btn2 {
        width: 100%;
    }

    .banner-card-container {
        width: 100%;
        padding-left: 5rem;
        padding-top: 3rem;
    }

    .banner-card1 {
        top: 15%;
        left: 70%;
    }

    .banner-card2 {
        top: 50%;
        left: 10%;
    }

    .banner-play-icon {
        display: block;
        left: 33px;
    }

}

/* change your habits section media querry */
@media screen and (max-width: 576px) {
    .change-habits-container {
        padding: 0px 20px;
    }

    .change-habits-heading {
        font-size: 15px;
        width: 50%;
        /* width: 518px; */
        /* height: 38px; */

        text-align: left;

    }

    .change-habits-description {
        width: 316px;
        height: 72px;
        padding-left: 69px;
        padding-top: 34px;
    }

    .habits-div-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .caption-title {
        text-align: center;
        padding-left: 20px;
        padding-bottom: 5px;
    }

    .caption-description {

        width: 318px;
        text-align: center;
        padding-left: 65px;
    }

    .caption-img {
        padding-left: 150px;
        padding-right: 150px;
        /* border-radius: 50%; */
    }
}
/* media quarry for run extra */

@media screen and (max-width: 576px) {
    .extra-container {
        flex-direction: column;
        width: 400px;
        height: 531px;
        padding: 30px 7px;
        
    }
    .run-extra-container{
        padding: 50px 30px;
        text-align: left;
    }
    .run-extra-img{
        width: 80%;
        padding-left: 30px;
        padding-top: 10px;
        border-radius: 20px;
    }

}